main{
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    /* background-color: rgb(235, 240, 243); */
    background-color: #333F44;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}